body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
}
h2{
    text-align: right;
}


div{
    border: 5px dashed blue;
}
h1{
    font-family:'Times New Roman', Times, serif;
}

header{
    display:flex;
    height: 100px;
    background-color: whitesmoke;
    justify-content:right;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
}

.logo img{
    height: 100px;
    align-items: center;
    margin-right: 10px;
}
